/* CSS de l'application Fitts Test */

*
{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Pour les écrans supérieurs à 960px de large */
h1 .big-title
{
    text-align: center;
    font-size: 48px;
    font-weight: normal;

    width: 100%;
    display: block;
    margin: 0 auto;
}

/* div qui contient les boutons */
.test-choices
{
    width: 960px;
    min-height: 100px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;

    border-radius: 10px;

    background-color: rgb(230, 230, 230);
}

.btn-test
{
    width: 200px;
    height: 200px;
    margin: auto;

    border-radius: 10px;
    transition: transform 0.3s, border-radius 0.3s;

    cursor: pointer;
}

.btn-test:hover
{
    transform: rotate(45deg);
    border-radius: 50%;
}

/* Bouton pour accèder au test de la loi de fitts */
.btn-fitts
{
    background-color: rgb(50, 150, 200);
}

/* Bouton pour accèder au test de la loi de goms */
.btn-goms
{
    background-color: rgb(0, 180, 255);
}

/* Texte dans les boutons de choix de teste */
.btn-test span
{
    display: block;
    margin: 0 auto;
    line-height: 200px;

    text-align: center; 

    color: white;
    font-size: 32px;

    transition: transform 0.3s;
}

.btn-test:hover span
{
    transform: rotate(-45deg);
}

/* Pour les écrans inférieurs à 960px de large */
@media screen and (max-width: 960px)
{
    /* CSS pour mobile */
}